Repository swashcap/mtrx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

chore: upgrade @babel/preset-env to 7.9.5
  package.json
  yarn.lock
Due: prettier --write

fix: hide number input default step buttons in Firefox
  src/components/controls/NumericInput.tsx
Due: prettier --write, stylelint --fix

feat: add custom icons, logo
  src/components/controls/IconButton.tsx
  src/components/controls/NumericInput.tsx
  src/components/icon/CloseIcon.tsx
  src/components/icon/DecrementIcon.tsx
  src/components/icon/DownIcon.tsx
  src/components/icon/IncrementIcon.tsx
  src/components/icon/UpIcon.tsx
  src/components/inspector/InspectorBreakpoint.tsx
  src/components/inspector/InspectorInfo.tsx
  src/components/modal/ModalBody.tsx
  src/components/utils/Collapse.tsx
Due: prettier --write, stylelint --fix

fix: hide numeric input stepper buttons from screen readers
  src/components/controls/NumericInput.tsx
Due: prettier --write, stylelint --fix

fix: associate slider field label with input
  src/components/controls/SliderField.tsx
Due: prettier --write, stylelint --fix

fix: associate ToggleField label with input
  src/components/controls/ToggleField.tsx
Due: prettier --write, stylelint --fix

refactor: change SVG path fills to `currentColor`
  src/components/icon/CloseIcon.tsx
  src/components/icon/DecrementIcon.tsx
  src/components/icon/DownIcon.tsx
  src/components/icon/IncrementIcon.tsx
  src/components/icon/UpIcon.tsx
  src/components/inspector/InspectorInfo.tsx
Due: prettier --write, stylelint --fix

fix: associate inspector breakpoint labels with controls
  src/components/inspector/InspectorBreakpoint.tsx
Due: prettier --write, stylelint --fix

fix: associate inspector debug labels with inputs
  src/components/inspector/InspectorDebugControls.tsx
Due: prettier --write, stylelint --fix

fix: associate inspector section's legend with fieldset
  src/components/inspector/InspectorFormSection.tsx
Due: prettier --write, stylelint --fix

feat: add visually hidden navigation to controls
  src/components/layout/AppLayout.tsx
Due: prettier --write, stylelint --fix

fix: correct collapse button announcement
  src/components/utils/Collapse.tsx
Due: prettier --write, stylelint --fix

fix: add aria-hidden=true to dividers
  src/components/inspector/Inspector.tsx
  src/components/text-controls/TextControlRow.tsx
Due: prettier --write, stylelint --fix

fix: add aria-label attributes to inspector components
  src/components/inspector/InspectorBreakpointControls.tsx
  src/components/inspector/InspectorInfo.tsx
Due: prettier --write, stylelint --fix

fix: add aria-modal=true property to modal
  src/components/modal/ModalBody.tsx
Due: prettier --write, stylelint --fix

fix: add top-level label to `Screen` component
  src/components/screen/Screen.tsx
Due: prettier --write, stylelint --fix

fix: add aria-hidden=true when modal is open
  docs/index.html
  docs/main.b0d37f5d81c00a22599d.bundle.css
  docs/main.cddef7eea3d3f605aed7.bundle.js
  docs/main.fc66bf817366f37ae614.bundle.js
  src/components/layout/AppLayout.tsx
Due: prettier --write, stylelint --fix

fix: hide non-modal content
  src/components/layout/AppLayout.tsx
Due: prettier --write, stylelint --fix

chore: upgrade to Node.js 14.13
  .nvmrc
Due: none

chore: upgrade @commitlint/* dependencies to 11.x.x
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade husky to 4.3.0
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade lint-staged 10.4.0
  package.json
  yarn.lock
Due: prettier --write

style: upgrade prettier to 2.1.2
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade stylelint to 13.7.2
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade typescript to 4.0.3
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade @babel/* dependencies to 7.11.x
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade babel-jest to 26.5.2
  package.json
Due: prettier --write

chore: upgrade focus-trap-react to 8.1.0
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade jest to 26.5.3
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade @types/react to 16.8.52
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade @types/react-dom to 16.9.8
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade to webpack 5.x.x
  docs/index.html
  docs/main.0c671dc60b27540567be.bundle.js
  docs/main.0c671dc60b27540567be.bundle.js.LICENSE.txt
  docs/main.68e2641324088587bb55.bundle.css
  docs/main.fc66bf817366f37ae614.bundle.js
  package.json
  webpack.config.js
  yarn.lock
Due: prettier --write

chore: upgrade to Node.js 15
  .nvmrc
Due: none

chore: upgrade @babel/* dependencies to 7.12.x
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade jest to 26.6.1
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade lint-staged to 10.4.2
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade mini-css-extract-plugin to 1.2.0
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade webpack to 5.2.0
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade webpack-cli to 4.1.0
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade ts-loader to 8.0.7
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{html,js,json}) or (any of: *.{ts,tsx})
  stylelint --fix: any of: *.{ts,tsx}
