Repository swashcap/mtrx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{html,js,json}": "prettier --write",
  "*.{ts,tsx}": ["prettier --write", "stylelint --fix"]
}

style: upgrade prettier to 2.0.2
  package.json
  src/components/App.tsx
  src/components/canvas/Canvas.tsx
  src/components/content/ContentContainer.tsx
  src/components/content/ContentGrid.tsx
  src/components/content/ContentGridColumn.tsx
  src/components/controls/Button.tsx
  src/components/controls/NumericInput.tsx
  src/components/controls/SliderField.tsx
  src/components/debug/DebugGrid.tsx
  src/components/debug/DebugLayoutColumn.tsx
  src/components/inspector/InspectorBreakpoint.tsx
  src/components/inspector/InspectorBreakpointControls.tsx
  src/components/inspector/InspectorContentControls.tsx
  src/components/inspector/InspectorDebugControls.tsx
  src/components/layout/Divider.tsx
  src/components/screen/Screen.tsx
  src/components/text/Label.tsx
  yarn.lock
Due: prettier --write, stylelint --fix

feat: add inspector info content
  src/components/controls/Link.tsx
  src/components/inspector/Inspector.tsx
  src/components/inspector/InspectorInfo.tsx
  src/components/layout/Box.tsx
Due: prettier --write, stylelint --fix

refactor: decrease inspector width
  src/components/App.tsx
  src/components/layout/AppLayout.tsx
Due: prettier --write, stylelint --fix

feat: persist state to local storage
  src/components/inspector/InspectorInfo.tsx
  src/state/breakpoints.ts
  src/state/settings.ts
Due: prettier --write, stylelint --fix

refactor: massage breakpoints state shape
  src/components/App.tsx
  src/components/canvas/Canvas.tsx
  src/components/inspector/Inspector.tsx
  src/components/inspector/InspectorBreakpoint.tsx
  src/components/inspector/InspectorBreakpointControls.tsx
  src/state/breakpoints.ts
Due: prettier --write, stylelint --fix

feat: add headings to text content
  src/components/content/ContentText.tsx
  src/components/content/ContentTextHeading.tsx
  src/components/content/ContentTextParagraph.tsx
Due: prettier --write, stylelint --fix

feat: make breakpoints remove-able
  src/components/App.tsx
  src/components/inspector/Inspector.tsx
  src/components/inspector/InspectorBreakpoint.tsx
  src/components/inspector/InspectorBreakpointControls.tsx
  src/state/breakpoints.ts
Due: prettier --write, stylelint --fix

feat: add popular mobile breakpoint
  src/state/breakpoints.ts
  src/state/screens.ts
Due: prettier --write, stylelint --fix

chore: build project for dist
  .prettierignore
  .stylelintignore
  docs/index.html
  docs/main.74431a852a63d36179bd.bundle.css
  docs/main.7bafe5f5c87286aebf3c.bundle.js
  package.json
  webpack.config.js
Due: prettier --write

fix: correct publicPath
  docs/index.html
  docs/main.a8891d3cde5232700902.bundle.js
  webpack.config.js
Due: prettier --write

fix: remove debug layers from scrolling content
  docs/index.html
  docs/main.1532528af417de06ffd9.bundle.css
  docs/main.959a4c781180d3c04ed8.bundle.js
  src/components/canvas/Canvas.tsx
  src/components/screen/Screen.tsx
  src/components/screen/ScreenViewport.tsx
  src/components/screen/ScreenViewportContent.tsx
  src/components/screen/ScreenViewportDebug.tsx
Due: prettier --write, stylelint --fix

chore: add class-properties plugin
  babel.config.js
  package.json
  yarn.lock
Due: prettier --write

feat: add error boundary, Alert component
  src/components/Root.tsx
  src/components/alert/Alert.tsx
  src/components/inspector/InspectorInfo.tsx
  src/components/layout/CenterLayout.tsx
  src/index.tsx
  src/state/reset.ts
  src/themes/light.ts
Due: prettier --write, stylelint --fix

refactor: hide width control in first breakpoint
  src/components/inspector/InspectorBreakpoint.tsx
  src/components/inspector/InspectorBreakpointControls.tsx
Due: prettier --write, stylelint --fix

feat: add custom focus style to inputs and buttons
  src/components/controls/Button.tsx
  src/components/controls/Link.tsx
  src/components/controls/NumericInput.tsx
  src/components/controls/RadioField.tsx
  src/components/controls/SliderInput.tsx
  src/components/controls/TextInput.tsx
  src/components/controls/ToggleInput.tsx
  src/components/utils/Collapse.tsx
  src/index.tsx
  src/styles/global.ts
  src/styles/inputFocus.ts
  src/themes/light.ts
Due: prettier --write, stylelint --fix

feat: add Nexus 7 to screens
  src/state/screens.ts
Due: prettier --write, stylelint --fix

refactor: update breakpoints
  src/state/breakpoints.ts
Due: prettier --write, stylelint --fix

chore: add jest to project
  package.json
  yarn.lock
Due: prettier --write

fix: correct debug column widths
  src/components/debug/DebugLayout.tsx
  src/components/utils/getColumnWidth.test.ts
  src/components/utils/getColumnWidth.ts
Due: prettier --write, stylelint --fix

refactor: move breakpoint fetching to utility
  src/components/canvas/Canvas.tsx
  src/components/utils/getBreakpointRetriever.test.ts
  src/components/utils/getBreakpointRetriever.ts
Due: prettier --write, stylelint --fix

fix: correct inspector vertical section layout collision
  docs/index.html
  docs/main.1532528af417de06ffd9.bundle.css
  docs/main.6eba6b9f42d16495f5af.bundle.css
  docs/main.74431a852a63d36179bd.bundle.css
  docs/main.7bafe5f5c87286aebf3c.bundle.js
  docs/main.959a4c781180d3c04ed8.bundle.js
  docs/main.a8891d3cde5232700902.bundle.js
  docs/main.fe44a16f6c1df1b86563.bundle.js
  package.json
  src/components/inspector/Inspector.tsx
Due: prettier --write, stylelint --fix

chore: optimize CSS output
  docs/index.html
  docs/main.6eba6b9f42d16495f5af.bundle.css
  docs/main.d257437b1e56f1715a3a.bundle.css
  docs/main.fe44a16f6c1df1b86563.bundle.js
  package.json
  webpack.config.js
  yarn.lock
Due: prettier --write

feat: add skip link
  src/components/layout/AppLayout.tsx
  src/components/utils/SkipLink.tsx
Due: prettier --write, stylelint --fix

fix: increase minimum text size to 12px
  src/styles/global.ts
  src/themes/light.ts
Due: prettier --write, stylelint --fix

docs: add technology list
  README.md
Due: none

feat: add lang attribute to root html element
  src/index.html
Due: prettier --write

feat: add description meta tag
  docs/index.html
  docs/main.36347830472653c81391.bundle.css
  docs/main.9f2ca6bf2514743fe9ec.bundle.js
  src/index.html
Due: prettier --write

feat: add Modal component
  package.json
  src/components/modal/Modal.tsx
  src/components/modal/ModalBody.tsx
  src/components/modal/ModalContent.tsx
  src/components/modal/ModalContext.tsx
  src/components/modal/ModalMask.tsx
  yarn.lock
Due: prettier --write, stylelint --fix

feat: add Button variant styles
  src/components/controls/Button.tsx
  src/themes/dark.ts
  src/themes/light.ts
Due: prettier --write, stylelint --fix

feat: make text sizes adjustable
  src/components/canvas/Canvas.tsx
  src/components/content/ContentText.tsx
  src/components/content/ContentTextItem.tsx
  src/components/content/ContentTextParagraph.tsx
  src/components/controls/NumericInput.tsx
  src/components/inspector/InspectorBreakpoint.tsx
  src/components/layout/AppLayout.tsx
  src/components/layout/BaseStack.tsx
  src/components/modal/Modal.tsx
  src/components/modal/ModalContext.tsx
  src/components/text-controls/TextControlField.tsx
  src/components/text-controls/TextControlForm.tsx
  src/components/text-controls/TextControlRow.tsx
  src/components/utils/VisuallyHidden.tsx
  src/components/utils/getBreakpointRetriever.test.ts
  src/state/breakpoints.ts
Due: prettier --write, stylelint --fix

chore: upgrade stylelint to 13.3.0
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade lint-staged to 10.1.1
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade fork-ts-checker-webpack-plugin to 4.1.2
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade html-webpack-plugin to 4.0.4
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade jest to latest
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade to Node.js 13.12.x
  .nvmrc
Due: none

chore: upgrade to TypeScript 3.9-beta
  docs/index.html
  docs/main.79918799751b9722d07a.bundle.css
  docs/main.9f2ca6bf2514743fe9ec.bundle.js
  docs/main.cddef7eea3d3f605aed7.bundle.js
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade prettier to 2.0.4
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade lint-staged to 10.1.2
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade css-loader to 3.5.1
  package.json
  yarn.lock
Due: prettier --write
